body {
    /* background: #f5d9d5; */
    background: #C9E4CA;
    font-family: "Nunito", sans-serif;
    /* background: url(https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80) center/cover; */
    /* background-size: contain; */
}

.blurb h2 {
   color: #87BBA2;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #3B6064;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #3B6064;
}

#mainNavbar .navbar-brand {
    color: #3B6064;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #3B6064;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #87BBA2;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
